.swatch {
    display: grid;
    width: 100px;
    height: 100px;
    padding: 10px;
}

#swatch_1 {
    background-color: aqua;
}

#swatch_2 {
    background-color: blueviolet;
}

#swatch_3 {
    background-color: cadetblue;
}