body {
    background-color: #1e1e1e;
}

.panel {
    display: grid;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    border: 1px solid white;
}

#panel {
    background-color: rgba(177, 132, 64, 1);
}

.grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
}

.picked-color {
    background-color: lightcoral;
    border: 1px solid white;
    padding: 20px;
}

