body {
    background-color: #323232;
    font-family: 'Baloo Tamma 2', cursive;
    color: #bababa;
}

.panel {
    display: grid;
    width: 200px;
    height: 200px;
    margin: auto;
    border: 1px solid white;
}

#panel {
    background-color: rgba(177, 132, 64, 1);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 20px;
}

.picked-color {
    background-color: lightcoral;
    border: 1px solid white;
    padding: 20px;
    height: 75px;
}

