.spectrum-wrapper {
    cursor: crosshair;
    width: 360px;
    position: relative;
    height: 120px;
    user-select: none;
    user-drag: none;
    outline: 3px solid black;
}
.spectrum-layer {
    height: 100%;
    width: 100%;
    background: linear-gradient(
            to right,
            rgb(255 0 0),
            rgb(255 255 0),
            rgb(0 255 0),
            rgb(0 255 255),
            rgb(0 0 255),
            rgb(255 0 255),
            rgb(255 0 0)
    );
}

.saturation-white {
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    background: linear-gradient(to top, rgba(255, 255, 255, 0), #fff);
    position: absolute;
    width: 100%;
    height: 60px;
    top: 0px;
    right: 0px;
    bottom: 60px;
    left: 0px;
}

.saturation-black {
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000);
    position: absolute;
    width: 100%;
    height: 60px;
    top: 60px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
